
body {
  font-family: Arial, sans-serif;
  background-color: rgb(238, 193, 191); 
  text-align: center;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.container h1{
    font-size: 41px;
    color: #b22222;
    margin-bottom: 10px;
}

.container p {
  color: #b22222;
}

.section {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 15px;
  border: 2px solid #ccc;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover{
    background:#e53935;
}

button.active {
  background: #e53935;
  color: white;
  border-color: #e53935;
}

.buttons {
  margin-top: 20px;
}

.clear {
  background: #ddd;
}

.send {
  background: #e53935;
  color: white;
  border: none;
}

#output {
  margin-top: 20px;
  font-size: 18px;
}